$base-text-color: #021526;
$base-title-color: #021526;
$base-color-white: #fff;

$base-link-color: #021526;
$base-link-color-hover: #021526;

$base-form-text-color: #021526;
$base-form-placeholder-color: #021526;
$base-input-border-color: rgba(136, 136, 136,0.2);

$base-font-size: 24px;
$base-line-height: 1.4166;
$base-font-family: 'Graphik LC', sans-serif;
$heading-font-family: 'Graphik LC', sans-serif;

$base-min-width: 320px;









